*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.outer > .inner{
    height: 400px;
    width: 400px;
    border: 2px solid white;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.inner > .box{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}