*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: black;
}

.outer > .inner{
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
 
}
.outer > .inner > .box{
    border-radius: 50%;
    height:100px;
    width: 100px;
    background-color: blue;
    transition: all 1s ease-in-out ;
    cursor: pointer;

}

.outer > .inner > .box:hover{
    transform: translateX(90vw);

}

#box1{
    margin-bottom: 20px;
}

#box2{
    margin-bottom: 20px;
}
#box3{
    margin-bottom: 20px;
}
#box1{
    margin-bottom: 20px;
}

