*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.outer{
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.outer > .inner{
    height: 400px;
    width: 400px;
    border: 2px solid white;
}

.outer > .inner .box{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    /* transition: all 1s ease-in; */
    /* animation: move 1s linear infinite alternate; */
    animation: rotate 1s linear infinite;
}
/* .outer > .inner> .box:hover{
    transform: translateX(300px);
} */

@keyframes move {
    from {
        transform: translatex(0);
    }
    to{
        transform: translatex(300px);
    }
    
}

@keyframes rotate {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(300px,0);
    }
    50%{
        transform: translate(300px,300px);
    }
    75%{
        transform: translate(0,300px);
    }
}

.inner2{
    height: 400px;
    width: 400px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner2 >.box2{
    border-top: 2px solid green ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: circle 1s linear infinite;
}

@keyframes circle {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}